*/[Pp]ackages/*

*[Bb]uild/
*[Bb]uilds/
*[Ll]ibrary/
*[Ll]ogs/
*[Oo]bj/
*[Tt]emp/
*[Bb]in/
*[Oo]bj/
**.idea**
*.db*
*.csproj
*.meta
*MemoryCaptures*
.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.vsconfig